# SPDX-FileCopyrightText: 2005 - 2021 Settlers Freaks <sf-team at siedler25.org>
#
# SPDX-License-Identifier: CC0-1.0

---
Checks: >-
  boost-*,
  bugprone-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-too-small-loop-variable,
  -clang-analyzer-osx.*,
  -misc-non-private-member-variables-in-classes,
  -misc-unused-parameters,
  -modernize-avoid-c-arrays,
  -modernize-raw-string-literal,
  -modernize-return-braced-init-list,
  -modernize-use-default-member-init,
  -modernize-use-emplace,
  -modernize-use-nodiscard,
  -modernize-use-override,
  -modernize-use-trailing-return-type,
  -performance-enum-size,
  -readability-braces-around-statements,
  -readability-convert-member-functions-to-static,
  -readability-else-after-return,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-static-accessed-through-instance,
  -readability-uppercase-literal-suffix,
  -readability-identifier-naming,
  -clang-diagnostic-inconsistent-missing-override,
  -bugprone-assignment-in-if-condition,
  -bugprone-casting-through-void,
  -bugprone-empty-catch,
  -bugprone-exception-escape,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-optional-value-conversion,
  -bugprone-reserved-identifier,
  -bugprone-switch-missing-default-case,
  -bugprone-unchecked-optional-access,
  -bugprone-unhandled-exception-at-new,
  -clang-analyzer-core.NonNullParamChecker,
  -clang-analyzer-cplusplus.NewDeleteLeaks,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -misc-confusable-identifiers,
  -misc-const-correctness,
  -misc-include-cleaner,
  -misc-no-recursion,
  -misc-unused-using-decls,
  -misc-use-anonymous-namespace,
  -modernize-macro-to-enum,
  -modernize-type-traits,
  -modernize-use-auto,
  -performance-avoid-endl,
  -performance-inefficient-vector-operation,
  -performance-move-const-arg,
  -performance-no-int-to-ptr,
  -performance-noexcept-swap,
  -readability-avoid-nested-conditional-operator,
  -readability-avoid-return-with-void-value,
  -readability-container-data-pointer,
  -readability-container-size-empty,
  -readability-function-cognitive-complexity,
  -readability-redundant-casting,
  -readability-redundant-inline-specifier,
  -readability-redundant-member-init,
  -readability-simplify-boolean-expr,
  -readability-suspicious-call-argument,
  -readability-use-anyofallof
CheckOptions:
  - key: performance-for-range-copy.AllowedTypes
    value: 'Point<.*?>;MapPoint;Position;Extent;DrawPoint'
  - key: performance-unnecessary-copy-initialization.AllowedTypes
    value: 'Point<.*?>;MapPoint;Position;Extent;DrawPoint'
  - key: performance-unnecessary-value-param.AllowedTypes
    value: 'Point<.*?>;MapPoint;Position;Extent;DrawPoint'
...
