*~
*.bak
*.user
*.opensdf
*.sdf
*.suo
*.cproject
*.project
/build/*.psess
/build/*.vsp
/build/*.vcxproj
/build/*.filters
/build/*.lib
/build/*.def
/build/*.exp
/build/LICENSE.*
/build/callgrind.out.*
/build/bugle
/build/Testing
/build/CTestTestfile.cmake
/build/s25client.VC.opendb
/build/CMakeCache.txt
/build/CMakeFiles
/build/CMakeScripts
/build/Win32/Debug
/build/Win32/Release
/build/build_paths.h
/build/build_version.h
/build/build_version_defines.h
/build/cmake_install.cmake
/build/driver
/build/ipch
/build/install_manifest.txt
/build/lib
/build/libendian
/build/liblobby
/build/libsiedler2
/build/libutil
/build/mygettext
/build/prepareRelease.sh
/build/RTTR
/build/s-c
/build/s25client.sln
/build/s25client.build
/build/s25client.xcodeproj
/build/s25update
/build/src
/build/version
/build/WORLDS
/build/S2
/build/Debug
/build/Release
/build/Win32
/build/x64
/build/DATA
/build/GFX
/build/s25rttr
/build/share
/build/Makefile
/build/bin
/build/start.sh
/build/*.dll
/build/*.exe
/build/*.pdb
/build/*.ilk
/build/s25client.VC.VC.opendb
/build/s25client.VC.db
/contrib/full-contrib-msvc
/contrib/boost*
/DATA
/GFX
/s25update
/RTTR/s25update
/RTTR/s-c_resample
/RTTR/sound-convert
/Testing
build_version_defines.h
/build/put your S2-Installation in here
/S2

