# SPDX-FileCopyrightText: 2021 Settlers Freaks <sf-team at siedler25.org>
#
# SPDX-License-Identifier: CC0-1.0

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
#sources
*.txt text
*.cmake text
*.c text
*.cc text
*.cxx text
*.cpp text
*.c++ text
*.hpp text
*.h text
*.h++ text
*.hh text
*.sh text
*.md text
*.rc text
*.def text
*.depend text
INSTALL text
# Compiled Object files
*.slo binary
*.lo binary
*.o binary
*.obj binary
# Precompiled Headers
*.gch binary
*.pch binary
# Compiled Dynamic libraries
*.so binary
*.dylib binary
*.dll binary
# Compiled Static libraries
*.lai binary
*.la binary
*.a binary
*.lib binary
# Executables
*.exe binary
*.out binary
*.app binary
*.bat text eol=crlf
*.sh text eol=lf
*.lst binary
*.LST binary
