# SPDX-FileCopyrightText: 2021 Settlers Freaks <sf-team at siedler25.org>
#
# SPDX-License-Identifier: CC0-1.0

[submodule "libendian"]
	url = https://github.com/Return-To-The-Roots/libendian.git
	path = external/libendian
[submodule "liblobby"]
	url = https://github.com/Return-To-The-Roots/liblobby.git
	path = external/liblobby
[submodule "libsiedler2"]
	url = https://github.com/Return-To-The-Roots/libsiedler2.git
	path = external/libsiedler2
[submodule "libutil"]
	url = https://github.com/Return-To-The-Roots/libutil.git
	path = external/libutil
[submodule "mygettext"]
	url = https://github.com/Return-To-The-Roots/mygettext.git
	path = external/mygettext
[submodule "s25update"]
	url = https://github.com/Return-To-The-Roots/s25update.git
	path = external/s25update
[submodule "RTTR/languages"]
	url = https://github.com/Return-To-The-Roots/languages.git
	path = external/languages
[submodule "contrib/kaguya"]
	path = external/kaguya
	url = https://github.com/satoren/kaguya.git
[submodule "s25edit"]
	path = external/s25edit
	url = https://github.com/Return-To-The-Roots/s25edit.git
[submodule "contrib/turtle"]
	path = external/turtle
	url = https://github.com/mat007/turtle.git
[submodule "external/dev-tools"]
	path = external/dev-tools
	url = https://github.com/Return-To-The-Roots/dev-tools.git
[submodule "data/RTTR/MAPS"]
	path = data/RTTR/MAPS
	url = https://github.com/Return-To-The-Roots/s25maps.git
