*.mo
build_paths.h
build_version.h
full-contrib-msvc2010
s-c_resample.exe
sound-convert.exe
*.opensdf
*.suo
*.user
Debug
ipch
*.sdf
Release
driver/audio/*.dll
driver/video/*.dll
RTTR/*.dll
RTTR/*.exe
win32/bin/*
backup_*
!/contrib
DATA
GFX
*.bak
contrib/bin
contrib/lib
contrib/include
build/CMakeFiles
build/CMakeCache.txt
build/*.sln
build/*.vcxproj*
build/*.vcproj*
build/driver
build/libendian
build/liblobby
build/libsiedler2
build/libutil
build/mygettext
build/s-c
build/s25update
build/src
build/version
build/cmake_install.cmake
build/postinstall.sh
build/preinstall.sh
build/RTTR
build/*.dll
build/*.exe
build/*.pdb
build/*.ilk
