language: cpp
dist: trusty
if: branch = master

addons:
  apt: &defApt
    sources: &defSrcs
      - ubuntu-toolchain-r-test
    packages: &defPackages
      - libsdl1.2-dev
      - libsdl-mixer1.2-dev
      - libsdl2-dev
      - libsdl2-mixer-dev
      - libcurl4-openssl-dev
      - libbz2-dev
      - libminiupnpc-dev
      - liblua5.2-dev
  homebrew:
    packages:
      - ccache
      - sdl
      - sdl_mixer
      - gettext
      - miniupnpc

cache:
  - ccache
  - directories:
    - ${HOME}/.cache

jobs:
  include:
    - &linux-gcc6
      os: linux
      compiler: gcc
      env: MATRIX_EVAL="CXX=g++-6 && CC=gcc-6" BUILD_TYPE=Release
      addons:
        apt:
          <<: *defApt
          packages: [*defPackages, g++-6]
    - <<: *linux-gcc6
      env: MATRIX_EVAL="CXX=g++-6 && CC=gcc-6" GCOV=gcov-6 BUILD_TYPE=Debug ADDITIONAL_CMAKE_FLAGS="-DRTTR_ENABLE_COVERAGE=ON"
      after_success: external/libutil/tools/ci/uploadCoverageData.sh '*/external/*' '*/tests/*'
    - &linux-clang
      # GCC6 headers required
      <<: *linux-gcc6
      compiler: clang
      env: BUILD_TYPE=Debug ADDITIONAL_CMAKE_FLAGS=-DRTTR_EXTERNAL_BUILD_TESTING=ON
    - <<: *linux-clang
      env: BUILD_TYPE=Release
    - os: osx
      compiler: clang
      env: BUILD_TYPE=Debug
    # Latest versions of Clang and GCC
    - os: linux
      compiler: gcc
      env: MATRIX_EVAL="CXX=g++-8 && CC=gcc-8" BUILD_TYPE=Debug
      addons:
        apt:
          <<: *defApt
          packages: [*defPackages, g++-8]
    - os: linux
      compiler: clang
      addons:
        apt:
          sources: [*defSrcs, llvm-toolchain-trusty-7]
          packages: [*defPackages, g++-7, clang-7]
      env: MATRIX_EVAL="CXX=clang++-7 && CC=clang-7" BUILD_TYPE=Debug

before_install:
  - eval "${MATRIX_EVAL}"
  - DEPS_DIR="${HOME}/.cache"
  - mkdir -p "${DEPS_DIR}"

install:
  - if [ "${TRAVIS_OS_NAME}" = "osx" ]; then brew link gettext --force; fi
  # Minimum requirements: CMake 3.8.2, Boost 1.64
  - |
    CMAKE_DIR="${DEPS_DIR}/cmake"
    external/libutil/tools/ci/installCMake.sh "3.8.2" "${CMAKE_DIR}"
    export PATH="${CMAKE_DIR}/bin:${PATH}"
  - |
    BOOST_VERSION=1.64.0
    BOOST_DIR="${DEPS_DIR}/boost${BOOST_VERSION}"
    export ADDITIONAL_CMAKE_FLAGS="${ADDITIONAL_CMAKE_FLAGS} -DBOOST_ROOT=${BOOST_DIR} -DBoost_NO_SYSTEM_PATHS=ON"
    external/libutil/tools/ci/installBoost.sh "${BOOST_VERSION}" "${BOOST_DIR}" "filesystem,system,program_options,thread,test,locale,iostreams,regex" shared

before_script: source external/libutil/tools/ci/setupXServer.sh

script: tools/ci/travisBuild.sh
